
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/memster.js"></script>
</body>

</html>