.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

html,
body,
.container,
.container-row,
.content-container {
    min-height: 900px;
    height: 100%;
}

#search-content {
    display: none;
}

#splash {
    z-index: 100;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
}


/* SIDEBAR */

.sidebar {
    position: fixed;
    width: 195px;
    height: 100%;
    padding-top: 15px;
    background-color: #337ab7;
    color: #fff;
    padding: 15px;
}

.sidebar .logo img {
    width: 100%;
    height: auto;
    padding: 0 15px;
    margin-bottom: 15px;
}

.sidebar .nav>li>a {
    border-radius: 0;
}

.userinfo {
    height: 60px;
    margin-bottom: 15px;
}

.userinfo .userpic,
.userinfo .username {
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
}

.userpic {
    width: 60px;
}

.username {
    width: calc(100% - 60px);
    /*text-align: center;*/
}

.userinfo a {
    color: #fff;
    /*padding-left: 10px;*/
}

.userinfo img {
    border: 0px solid #fff;
    border-radius: 100%;
    /*vertical-align: middle;*/
    /*max-height: 60px;*/
    /*max-width: 60px;*/
    height: 60px;
    width: 60px;
}

.userinfo-big #userinfo-avatar-big {
    border: 0px solid #fff;
    border-radius: 100%;
    /*vertical-align: middle;*/
    /*max-height: 60px;*/
    /*max-width: 60px;*/
    height: 150px;
    width: 150px;
}

.userinfo-big {
    height: 250px;
}

.userinfo-big .userpic {
    width: 100%;
}

.userinfo-big .username {
    line-height: 150px;
    margin: 0;
    width: 100%;
}

.userinfo-big h2 {
    margin-bottom: 30px;
}

.userinfo-big-second {
    margin: 30px 0;
}

.userinfo-big-second span {
    font-size: 120px;
    color: #337ab7;
}

.userinfo-big-second p {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
    color: #337ab7;
}

.userinfo-big a:hover,
.userinfo-big-second a:hover {
    text-decoration: none;
}

.userinfo-big-second .stat-block span {
    cursor: pointer;
}

.userinfo-big-second .stat-block:hover span,
.userinfo-big-second #liked:hover .count,
.userinfo-big-second a:hover p {
    color: #3c763d;
}

.userinfo-big-second #likes:hover span {
    cursor: default;
    color: #337ab7;
}

.userinfo-big-second .count {
    left: 0;
    right: 0;
    position: absolute;
    top: 80px;
}

.userinfo-big-second #albums .count {
    color: #fff;
    top: 92px;
    padding-left: 0;
}

.userinfo-big-second #albums p {
    padding-left: 18px;
}

.userinfo-big-second #images .count {
    color: #fff;
    top: 130px;
}

.userinfo-big-second #liked .count {
    color: #337ab7;
    padding-left: 10px;
}

.userinfo-big-second #likes .count {
    color: #fff;
    padding-left: 10px;
}


/*CONTENT NAV*/

.content-nav {
    height: 82px;
}

.content-nav .navbar {
    height: 52px;
    margin: 15px;
    background-color: #337ab7;
}

.content-nav .nav-item {
    height: 100%;
    line-height: 48px;
    text-align: center;
    border: 1px solid #aaa;
}

.nav>li>a {
    color: #fff;
}

.nav>li>a:hover {
    background-color: #286090;
}

.content-search {
    height: 48px;
    padding: 0 30px;
}


/* RANDOM PICS/ALBUMS */

.random-pics,
.random-albums {
    height: 360px;
}

.random-pics h3,
.random-albums h3 {
    color: #444;
}

.thumbnail {
    height: 285px;
}

.thumbnail-album {
    height: 252px;
}

.thumbnail img {
    height: 156px;
    /*max-height: 156px;*/
    width: auto;
}

.thumbnail a {
    width: 100%;
}

.thumbnail p {
    height: 58px;
    display: block;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-list-control {
    text-align: center;
    line-height: 285px;
    color: #337ab7;
}

.album-list-control span {
    font-size: 36px;
}

.album-list-control:hover {
    color: #286090;
    background-color: #eee;
    cursor: pointer;
}


/* FOOTER */

.content-footer {
    margin-top: 15px;
    min-height: 50px;
    text-align: center;
}

.content-footer p {
    /*color: #337ab7;*/
    color: #888;
}