<!DOCTYPE html>
<html lang="ru">

<% include ../partials/head %>

<body>
    <div id="splash"></div>
    <div class="container">
        <div class="row container-row">
            <% include ../partials/sidebar %>
            <div class="col-md-offset-2 col-md-10 content-container">
                <% include ../partials/navbar %>
                <div class="row">
                    <div class="col-md-12 random-pics" style="height: auto;">
                        <div class="col-md-8 col-md-offset-2">
                            <style>
                                .input-group {
                                    margin-bottom: 15px;
                                }
                            </style>

                            <h3 class="text-center">Про нас</h3>
                            <p>
                                <b>Что это такое?</b>
                            </p>
                            <p style="padding-left: 30px">
                                Memster – это место, где можно хранить ваши любимые изображения удобно и красиво.
                                <br>
                                <br>
                            <p>
                                <b>Зачем это?</b>
                            </p>
                            <p style="padding-left: 30px">
                                1) Чтобы каждый мог сохранять, пересматривать, искать картинки. Новые картинки – новое вдохновение. Вдохновение на каждый день.
                                <br> 2) Чтобы продолжить обучение в любимом университете.
                                <br>
                                <br>
                            </p>
                            <p class="text-center">
                                <b>Скорее регистрируйся, пока это бесплатно!</b>
                                <br>
                                <br>
                                <img src="./img/happy-memster.jpg">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content-footer">
                        <p>2016 @ Nadya Isaeva</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
