<!DOCTYPE html>
<html lang="ru">

<% include ../partials/head %>

<body>
    <div id="splash"></div>
    <div class="container">
        <div class="row container-row">
            <% include ../partials/sidebar %>
            <div class="col-md-offset-2 col-md-10 content-container">
                <% include ../partials/navbar %>
                <div class="row">
                    <div class="col-md-12 random-pics" style="height: auto;">
                        <div class="col-md-8 col-md-offset-2">
                            <style>
                                .input-group {
                                    margin-bottom: 15px;
                                }
                            </style>

                            <h3 class="text-center">Такой страницы нет =(</h3>
                            <br>
                            <p class="text-center">
                                <img src="./img/sad-memster.jpg" style="width: 400px; ">
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content-footer">
                        <p>2016 @ Nadya Isaeva</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
