<!DOCTYPE html>
<html lang="ru">

<% include ../partials/head %>

<body>
    <div id="splash"></div>
    <div class="container">
        <div class="row container-row">
            <% include ../partials/sidebar %>
            <div class="col-md-offset-2 col-md-10 content-container">
                <% include ../partials/navbar %>
                <div class="row">
                    <div class="col-md-12 random-pics">
                        <h3 class="text-center">Случайные пикчи</h3>
                        <div class="col-md-1">
                            <!--<div class="album-list-control list-control-left">-->
                            <!--    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-md-10">
                            <div class="row" id="random-pics-content">
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <!--<div class="album-list-control list-control-right">-->
                            <!--    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 random-albums">
                        <h3 class="text-center">Случайные альбомы</h3>
                        <div class="col-md-1">
                            <!--<div class="album-list-control list-control-left">-->
                            <!--    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                            <!--</div>-->
                        </div>
                        <div class="col-md-10">
                            <div class="row" id="random-albums-content">
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="./img/camera.png">
                                        <div class="caption">
                                            <p>{{img-title}}</p>
                                            <a href="#" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <span class='likes'>{{img-likes}}</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <!--<div class="album-list-control list-control-right">-->
                            <!--    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-12 content-footer">
                        <p>2016 @ Nadya Isaeva</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>