<!DOCTYPE html>
<html lang="ru">

<% include ../partials/head %>

<body>
    <div id="splash"></div>
    <div class="container">
        <div class="row container-row">
            <% include ../partials/sidebar %>
            <div class="col-md-offset-2 col-md-10 content-container">
                <% include ../partials/navbar %>
                <div class="row">
                    <div class="col-md-12 content-search">
                        <div class="input-group">
                            <input id="search-input" type="text" class="form-control" placeholder="Напиши сюда тег...">
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-primary btn-secondary" type="button">Искать <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="index-content">
                    <div class="row">
                        <div class="col-md-12 random-pics">
                            <h3 class="text-center">Случайные картиночки</h3>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row" id="random-pics-content">
                                    <p class="text-center">Тут будут случайные картиночки</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 random-albums">
                            <h3 class="text-center">Случайные альбомы</h3>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row" id="random-albums-content">
                                    <p class="text-center">Тут будут случайные альбомчики</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="search-content">
                    <div class="row">
                        <div class="col-md-12 random-pics">
                            <h3 class="text-center">Поиск</h3>
                            <div class="col-md-10 col-md-offset-1" id="search-content-div">
                                <p class="text-center">Тут будeт пезультат поиска</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content-footer">
                        <p>2016 @ Nadya Isaeva</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>