<!DOCTYPE html>
<html lang="ru">

<% include ../partials/head %>

<body>
    <div id="splash"></div>
    <div class="container">
        <div class="row container-row">
            <% include ../partials/sidebar %>
            <div class="col-md-offset-2 col-md-10 content-container">
                <% include ../partials/navbar %>
                <div class="row">
                    <div class="col-md-12 random-pics" style="height: auto;">
                        <div class="col-md-8 col-md-offset-2">
                            <style>
                                .input-group {
                                    margin-bottom: 15px;
                                }
                            </style>

                            <h3 class="text-center">Правила сайта</h3>
                            <p>
                                <b>Первое правило сайта:</b> не упоминать о сайте в обществе приличных разработчиков.
                            </p>
                            <p>
                                <b>Второе правило сайта:</b> нигде не упоминать о сайте.
                            </p>
                            <p>
                                <b>Третье правило сайта:</b> не отчислять девочек по имени Надя.
                            </p>
                            <p>
                                <b>Четвертое правило сайта:</b> не загружать на сайт картинки, которые каким-либо образом могут причинить вред другим пользователям.
                            </p>
                            <p>
                                <b>Пятое правило сайта:</b> не использовать неприличные слова в тегах и подписях к картинкам.
                            </p>
                            <p class="text-center">
                                <img src="./img/care-memster.jpg">
                            </p>
                            <!--<h4>Запрос:</h4>-->
                            <!--<div class="well well-lg" id="request">{}</div>-->
                            <!--<h4>Ответ:</h4>-->
                            <!--<div class="well well-lg" id="response">{}</div>-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content-footer">
                        <p>2016 @ Nadya Isaeva</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>